body {
    height: 100%;
}

.ug-container {
    width: 100%;
    margin-right: auto;
    margin-left: auto;
    background: #181818;
}

.teko-47 {
    font-family: Teko;
    font-size: 47px;
}

.teko-29 {
    font-family: Teko;
    font-size: 29px;
}

.teko-18 {
    font-family: Teko;
    font-size: 18px;
}

.exo2-26 {
    font-family: 'Exo 2';
    font-size: 26px;
}

.exo2-16 {
    font-family: 'Exo 2';
    font-size: 16px;
}

.exo2-12 {
    font-family: 'Exo 2';
    font-size: 12px;
}

.yellow {
    color: #DEA73C;
}

.yellow-bold {
    color: #DEA73C;
    font-weight: 600;
}

.green {
    color: #5EE947;
}

.white {
    color: white;
}

.no-padding {
    padding: 0;
}

.flex-it {
    display: flex;
}

.navbar {
    left: 0px;
    right: 0px;
    top: 0px;
    background: #2B2B2B;
    height: 68px;
    z-index: 1040;
    position: fixed;
    padding: 0;
}

    .navbar:after {
        bottom: -5px;
        box-shadow: inset 0px 4px 8px -3px rgb(164, 164, 164);
        content: "";
        height: 5px;
        left: 0px;
        opacity: 1;
        pointer-events: none;
        position: absolute;
        right: 0px;
        width: 100%;
        z-index: 0;
    }

.nav-elements-container {
    width: 100%;
    max-width: 1444px;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    display: flex;
    position: absolute;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    box-sizing: border-box;
    padding: 0 10px;
}

.home-page-link:hover {
    text-decoration: none;
}

.home-page-link {
    position: relative;
    margin-right: 30px;
}

.unit-guide-logo {
    position: relative;
    top: 13px;
    font-style: normal;
    font-weight: normal;
    line-height: normal;
    text-align: center;
    color: white;
}

.by-dioxide {
    position: relative;
    top: -11px;
    left: -3px;
    font-size: 14px;
    text-align: right;
    font-family: 'Exo 2';
    font-style: italic;
    color: white;
    margin: 0;
    letter-spacing: -0.02em;
}

.go-to {
    letter-spacing: 0.12em;
    margin-right: 6px;
    color: #FFFFFF;
    font-weight: bold;
    height: 30px;
    line-height: 39px;
}

.tier-buttons {
    display: flex;
    margin-top: 1px;
}

.ug-button {
    position: relative;
    height: 36px;
    border: 2px solid #FFFFFF;
    box-sizing: border-box;
    border-radius: 4px;
    color: #FFFFFF;
    text-align: center;
    line-height: 35px;
    font-weight: 600;
    margin-right: 6px;
    letter-spacing: 0.05em;
    cursor: pointer;
}

.tier-button {
    width: 93px;
}

#search-bar {
    margin-top: 1px;
    margin-left: 0;
}

.compare-button {
    width: 131px;
    margin: 0 40px 0 30px;
    background: #2b2b2b;
    margin-top: 1px;
}

.normal-button {
    width: 131px;
    background: #2b2b2b;
    margin: 0;
}

.ug-button:hover, .dropdown-submenu:hover {
    color: #DEA73C;
    text-decoration: none;
}

.dropdown-content {
    display: none;
    position: absolute;
    background: black;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    top: 60px;
    border: 2px solid white;
    background: #2b2b2b;
}

    .dropdown-content a {
        letter-spacing: 0.05em;
        font-size: 18px;
        font-family: Teko;
        font-weight: 500;
    }

        .dropdown-content a:hover {
            color: #DEA73C;
        }

.search-result-content {
    position: absolute;
    min-width: 266px;
    z-index: 1;
}

.loading-icon {
    height: 24px;
    display: none;
    position: relative;
    top: -1px;
}

.no-results-info {
    color: #a7a7a7;
    padding: 4px;
}

.float-left {
    float: left;
}

.dropdown-content a {
    float: none;
    color: white;
    padding: 5px 15px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.unit-name-containter {
    display: table-cell;
    height: 72px;
    vertical-align: middle;
    line-height: 20px;
    font-family: 'Exo 2';
    width: 170px;
    font-size: 14px;
}

.dropdown-submenu {
    float: left;
    overflow: hidden;
}

.dropdown-search-results {
    float: left;
}

    .dropdown-submenu:hover .dropdown-content, .dropdown-search-results:hover .dropdown-content {
        display: block;
    }

.search-input {
    position: relative;
    padding: 0 0 0 6px;
    width: 231px;
    height: 29px;
    border: 0;
    display: inline-block;
    color: #FFFFFF;
    text-align: left;
    padding-left: 6px;
    letter-spacing: 0.05em;
    margin-top: 1px;
    background-color: #2b2b2b;
}

    .search-input:focus {
        outline-width: 0;
    }

.search-icon {
    margin: 0 9px 3px 0;
    line-height: 2px;
    cursor: pointer;
}

.search-bar {
    width: 266px;
    position: relative;
    height: 36px;
    border: 2px solid #FFFFFF;
    border-radius: 4px;
    color: #FFFFFF;
    line-height: 35px;
    margin-left: 5px;
}

.main-banner {
    position: relative;
    width: 100%;
    height: 443px;
    top: 67px;
    overflow: hidden;
}

.arm-logo-banner {
    position: absolute;
    top: 25px;
    opacity: 0.3;
    transform: scale(1.15,1.15);
    left: -130px;
}

.core-logo-banner {
    position: absolute;
    top: 25px;
    opacity: 0.3;
    right: -121px;
}

.gradient-shadows {
    z-index: 2;
    position: absolute;
    height: 442px;
    left: 0px;
    right: 0px;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.6) 0%, rgba(139, 139, 139, 0) 11.19%, rgba(137, 137, 137, 0) 49.72%, rgba(138, 138, 138, 0) 88.4%, rgba(0, 0, 0, 0.6) 100%);
}

.gradient-blue-red {
    z-index: 1;
    position: absolute;
    height: 442px;
    left: 0px;
    right: 0px;
    background: linear-gradient(90deg, rgba(23, 129, 153, 0.6) 0%, rgba(21, 56, 71, 0.4) 19.27%, rgba(97, 97, 97, 0) 49.99%, rgba(71, 21, 21, 0.4) 78.79%, rgba(146, 34, 34, 0.6) 100%);
    opacity: 0.52;
}

.image-banner-img {
    height: auto;
    width: 100%;
    display: block;
    min-height: 454px;
    position: absolute;
    top: -15px;
    background-image: url(main-banner.jpg);
}

.image-banner {
    height: auto;
    width: 100%;
    display: none;
    min-height: 454px;
    position: absolute;
    top: -15px;
    background-image: url(main-banner.jpg);
}

@media screen and (min-width: 1919px) {
    .image-banner-img {
        height: auto;
        width: 100%;
        display: block;
        min-height: 454px;
        position: absolute;
        top: -52px;
        background-image: url(main-banner.jpg);
    }
}

@media screen and (max-width: 1791px) {
    .image-banner {
        height: auto;
        width: 100%;
        display: block;
        min-height: 454px;
        position: absolute;
        top: -15px;
        background: url(main-banner.jpg) center center no-repeat;
    }

    .image-banner-img {
        display: none;
    }
}

@media screen and (min-width: 1360px) and (max-width: 1600px) {
    .arm-logo-banner {
        position: absolute;
        top: 25px;
        opacity: 0.3;
        transform: scale(1.15,1.15);
        left: -180px;
    }

    .core-logo-banner {
        position: absolute;
        top: 25px;
        opacity: 0.3;
        right: -190px;
    }

    .image-banner-img {
        display: none;
    }
}

@media screen and (max-width: 1359px) {
    .image-banner {
        display: none;
    }

    .image-banner-img {
        display: none;
    }
}

.main-banner-text {
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    top: 138px;
}

.tier-divider {
    text-align: center;
    font-family: Teko;
    font-style: normal;
    font-weight: bold;
    line-height: normal;
    font-size: 47px;
    text-align: center;
    color: #DEA73C;
}

.tier-2-3-4-divider {
    margin-top: 125px;
}

.horizontal-tier-divider-line {
    height: 3px;
    background: white;
    position: relative;
    bottom: 39px;
    z-index: 5;
}

.tier-number {
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    text-align: center;
    top: 11px;
    letter-spacing: 0.03em;
    position: relative;
    color: #FFFFFF;
}

.center-img {
    position: relative;
    margin-left: auto;
    margin-right: auto;
    display: block;
    top: -84px;
}

.tier-divider {
    position: relative;
    margin-top: 35px;
}

.tier-unit-type-divider {
    margin-top: 65px;
    position: relative;
}

#search-input-results-0, #search-input-results-1, #search-input-results-2, #search-input-results-3, #search-input-results-4 {
    background: #2B2B2B;
    display: none;
    display: block;
    position: static;
    max-height: 600px;
}

/*#search-input-results {
    background: #2B2B2B;
    display: none;
    left: -2px;
    top: 32px;
}*/

.border-white {
    border: 2px solid #FFFFFF;
    border-radius: 0 0 4px 4px;
}

.search-input-row, .row-result {
    height: 80px;
    padding: 4px 4px 2px 4px;
    cursor: pointer;
}


    .search-input-row:hover {
        background: #595959;
        width: 262px;
    }

.unit-name-html {
    height: 100%;
    vertical-align: top;
    display: inline-block;
    line-height: 74px;
    width: auto;
    margin-left: 10px;
    letter-spacing: 0.05em;
}

.availability-dot {
    background: #65FF4C;
    border-radius: 50px;
    width: 8px;
    height: 8px;
    z-index: 1000;
    position: absolute;
    right: 5px;
    top: 5px;
    border: 1px solid #000000;
}

.availability-dot2 {
    color: #65FF4C;
    z-index: 1000;
    position: absolute;
    right: 1px;
    font-size: 14px;
    top: -1px;
}

.unit-type {
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    text-align: center;
    color: #DEA73C;
}

.buildings-pos-arm {
    left: 13px;
    position: relative;
}

.buildings-type-label {
    font-weight: 600;
    color: #DEA73C;
    padding-left: 0;
    margin-top: 20px;
    margin-bottom: 5px;
}

.unit-name {
    color: white;
    font-family: 'Exo 2';
    text-align: center;
    font-size: 16px;
    height: 63px;
    line-height: 22px;
    position: relative;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    max-width: 96px;
}

.horizontal-tier-line {
    width: 50px;
    height: 3px;
    background: white;
    display: inline-block;
    margin-bottom: 7px;
    position: relative;
}

.tier-number-width {
    width: 74px;
    display: inline-block;
}

.unit-type-bg {
    position: absolute;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    top: 21px;
}

.units-container {
    margin-top: 35px;
    /*width: 1144px;   older width, 1 column more*/
    width: 930px;
    margin-left: auto;
    margin-right: auto;
}

.col-modifier-arm {
    padding-left: 30px;
    padding-right: 0;
}

.col-modifier-core {
    padding-left: 105px;
    padding-right: 0;
}


.unit-box {
    width: 96px;
    height: 96px;
    border-radius: 7px;
    background: gray;
    position: relative;
}

.unit-box-in-preview {
    width: 96px;
    height: 96px;
    border-radius: 7px;
    background: gray;
}

.unit-box:before {
    content: '';
    position: absolute;
    top: 0px;
    left: 0px;
    width: 0px;
    height: 96px;
    background: rgba(255,255,255,0.2);
    border-radius: 7px;
    transition: all 0.3s ease;
}

.unit-box-in-search-result {
    background-size: 72px 72px !important;
    border-radius: 6px;
    width: 72px !important;
    height: 72px !important;
    margin-bottom: 4px;
    display: block;
    float: left;
    position: relative;
}

    .unit-box-in-search-result:before {
        content: '';
        position: absolute;
        top: 0px;
        left: 0px;
        width: 0px;
        max-width: 72px;
        height: 72px;
        background: rgba(255,255,255,0.2);
        border-radius: 7px;
        transition: 0.3s ease;
    }

.unit-box:hover:before {
    width: 96px;
}

.unit-box:hover {
    cursor: pointer;
}

.u-name:hover {
    cursor: pointer;
}

.unit-spacings-core {
    padding: 0;
    margin: 0 6px 0 0;
    max-width: 97px;
}

.unit-spacings-arm {
    padding: 0;
    margin: 0 6px 0 0;
    max-width: 97px;
}

.lab-units-separation-line {
    position: relative;
    width: 3px;
    display: inline-block;
    background-color: #3b3b3b;
    margin-left: 6px;
    border-radius: 4px;
}

.height-container {
    float: left;
}

.lab-units-space-remover {
    padding-right: 0;
    padding-left: 0;
    max-width: 111px;
}

.preview-frame {
    background: #212121;
    /*position: absolute;*/
    border: 1px solid #FFFFFF;
    border-radius: 3px;
    width: 388px;
    max-height: 660px;
    z-index: 1600000;
    line-height: 1.5;
    font-size: 16px;
}
.unit-preview {
    z-index: 1600000;
}
.top-label-unit-name {
    max-height: 100px;
    background: #333333;
    width: 100%;
    position: relative;
}

.unit-name-text {
    text-align: center;
    font-weight: 600;
    color: white;
    margin: 0;
}

.unit-description-text {
    text-align: center;
    color: rgba(255, 255, 255, 0.8);
    margin: 0;
    font-size: 14px;
    line-height: 17px;
    padding-bottom: 5px;
}

.unit-image-box {
    max-width: 32.3%;
}

.preview-unit-image {
    border-radius: 7px;
}

.unit-basic-info {
    padding: 13px 13px 9px 13px;
    padding: 13px 13px 9px 13px;
    max-width: 416px;
    margin-left: auto;
    margin-right: auto;
}

.res-cost-row {
    width: 250px;
    display: block;
    margin-bottom: 7px;
}

.energy-cost-bar {
    width: 96px;
    line-height: 20px;
    display: inline-block;
    padding: 0 3px 0 3px;
    color: black;
    background: #FBFF4C;
    font-weight: 600;
    border-radius: 3px;
    margin-right: 12px;
    height: 21px;
}

.metal-cost-bar {
    height: 21px;
    line-height: 20px;
    width: 96px;
    display: inline-block;
    color: black;
    padding: 0 3px 0 3px;
    background: #D2DEFD;
    font-weight: 600;
    border-radius: 3px;
    margin-right: 12px;
}

.energy-cost-digit, .metal-cost-digit {
    color: white;
    width: 200px;
    font-family: 'Exo 2';
}

.summoning-code {
    width: 96px;
    display: inline-block;
    color: white;
    margin-right: 12px;
    line-height: normal;
}

.highlight-the-written-phrase {
    background: #8989897d;
}

.summoning-code-text {
    color: white;
    position: absolute;
}

.separator-between-info-stats {
    width: 363px;
    margin: 0 auto 0 auto;
    border: 1px solid #757575;
    background: #757575;
}

.basic-stats {
    font-weight: 600;
    text-align: center;
    color: white;
    margin-top: 5px;
    margin-bottom: 10px;
}

.parameter-name {
    text-align: right;
    font-family: 'Exo 2';
    color: white;
    margin: 12px 0 17px 0;
}

.shine-effect:after {
    content: "";
    position: absolute;
    left: 0%;
    width: 27px;
    height: 10px;
    opacity: 0.2;
    top: 9px;
    background: rgba(255, 255, 255, 0.6);
    background: linear-gradient( to right, rgba(255, 255, 255, 0.2) 0%, rgba(255, 255, 255, 0.5) 12.5%, rgba(255, 255, 255, 0.7) 25%, rgba(255, 255, 255, 0.7) 75%, rgba(255, 255, 255, 0.5) 87.5%, rgba(255, 255, 255, 0.2) 100%);
    animation: shine 8s infinite;
    animation-timing-function: linear;
}

@keyframes shine {
    0% {
        opacity: 0.3;
    }

    5% {
        opacity: 0.7;
        transform: translate(64,5px, 0);
    }

    8% {
        opacity: 0.6;
        transform: translate(64,5px, 0);
    }

    10% {
        opacity: 0;
        transform: translate(110px, 0);
    }

    100% {
        opacity: 0;
        transform: translate(110px, 0);
    }
}

.parameter-bar-and-value {
    margin-left: 10px;
    height: 41px;
    top: 5px;
    position: relative;
}

.box-shadow-for-bar {
    width: 126px;
    height: 10px;
    position: absolute;
    left: 2px;
    top: 9px;
}

.parameter-value {
    position: relative;
    top: -8px;
    color: white;
    font-size: 14px;
    text-align: left;
    font-family: 'Exo 2';
}

.preview-info {
    font-family: 'Exo 2';
    font-style: italic;
    font-weight: 300;
    font-size: 12px;
    position: relative;
    color: rgba(255, 255, 255, 0.6);
    text-align: center;
}

.useful-info-padding {
    padding-right: 20px;
    padding-top: 10px;
    margin-left: 10px;
}

.ps--active-y > .ps__rail-y {
    top: 2px !important;
    right: 2px !important;
}

.ps__thumb-y {
    right: 1px !important;
}

.input-results-container {
    position: absolute;
    z-index: 3000;
    left: -2px;
    top: 32px;
}

.tier-quote-box {
    position: relative;
    bottom: 52px;
    height: 20px;
}

.quote-text {
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    position: absolute;
}

.line-to-scroll {
    top: -30px;
    position: relative;
}

.line-to-scroll-units {
    position: relative;
}

#compare-container {
    width: 300px;
    border: 2px solid white;
    background: #2b2b2b;
    z-index: 1;
    padding: 10px;
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0px);
    top: 34px;
    border-radius: 4px;
}

.chosen-unit {
    position: absolute;
    color: white;
    top: -3px;
    height: 40px;
    right: -11px;
    background: #2b2b2b;
    width: 275px;
}

.unit-comparison-input {
    margin-bottom: 12px;
}

.comparison-text {
    font-weight: 600;
}

.modal-content {
    background-color: #2b2b2b;
    border: 2px solid white;
}

.close-btn {
    -webkit-appearance: none;
    float: right;
    background: none;
    font-size: 18px;
    color: white;
    margin-right: 16px;
    display: inline;
    cursor: pointer;
}

.close {
    color: #fff;
    text-shadow: none;
    opacity: .5;
}

.t4-soon {
    font-family: 'Exo 2';
    font-size: 42px;
    text-align: center;
    color: white;
    position: relative;
    top: -99px;
    margin-top: 43px;
}

.modal {
    z-index: 15000;
}

.unit-preview-comparison {
    display: inline-block;
    position: relative;
}

    .unit-preview-comparison .preview-frame {
        display: inline-block;
        position: relative;
        vertical-align: top;
    }

.compare-container {
    display: none;
}

.comparison-content {
    position: relative;
    left: 50%;
    transform: translate(-50%, 0);
    min-width: 783px;
}

.modal-title {
    position: relative;
    left: 50%;
    transform: translate(-50%, 0);
    font-family: Teko;
    font-style: normal;
    font-weight: bold;
    line-height: normal;
    font-size: 47px;
    text-align: center;
    color: #DEA73C;
    top: -7px;
}

.unit-desc {
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0);
    top: 64px;
    font-family: 'Exo 2';
    font-size: 16px;
    color: white;
    max-width: 600px;
    text-align: center;
    width: 500px;
}

#comparison-button:disabled {
    border: 2px solid #757575;
    color: #757575;
}

.comparison-text {
    margin-top: 15px;
    margin-bottom: 15px;
    margin-left: 0px;
    padding: 0 5px;
}

.special-button {
    border: 2px solid #dea73c;
    color: white;
    width: 131px;
    background: #2b2b2b;
    margin: 0;
    margin-left: 5px;
}

    .special-button:hover {
        color: #dea73c;
    }

    .modal-content {
        width: auto;
        position: relative;
        left: 50%;
        transform: translate(-50%, 0);
    }

.transparent-no-border {
    background: transparent;
    border: 0;
}

.transparent-no-border-content {
    background: transparent;
    border: 0;
    padding: 0;
}

#close-comparison-button {
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0);
    color: white;
    letter-spacing: 0.05em;
    border: 2px solid white;
    cursor: pointer;
    font-weight: 600;
    margin-top: 40px;
    height: 36px;
    border-radius: 4px;
    line-height: 35px;
}

    #close-comparison-button:hover {
        color: #DEA73C;
    }

#close-comparison-x {
    color: white;
    font-size: 50px;
    font-weight: 300;
    opacity: 0.9 !important;
    padding-right: 0;
}

button:focus{
    outline:none;
}
#close-comparison-x:hover {
    color: #DEA73C;
}

    #close-comparison-x:active {
        outline: none;
    }
    #close-comparison-x:focus {
        outline: none;
    }

.modal-backdrop {
    opacity: 0.82 !important;
}

.detailed-info-wrapper{
    width:800px;
}

.name-image-box {
    display: inline-block;
    margin: 0 3px;
    vertical-align: top;
}

.can-build, .built-by {
    margin: 25px 0;
    text-align: center;
}

    .can-build > p, .built-by > p {
        font-size: 42px;
        color: #DEA73C;
        text-align:center;
        font-weight:500;
        font-family:'Exo 2';
    }

@media screen and (min-width: 1200px) and (max-width: 1570px) {
    .comparison-content {
        min-width: 1173px !important;
    }
}

@media screen and (max-width: 1199px) {
    .comparison-content {
        min-width: 781px !important;
    }
}

.popover-body {
    padding:0;
    width:388px;
}

.popover{
    max-width:100%;
    z-index:20000;
}


.bs-popover-auto[x-placement^=left] .arrow::after, .bs-popover-left .arrow::after {
    right: 2px;
    border-left-color: #212121;
}

.bs-popover-auto[x-placement^=left] .arrow::before, .bs-popover-left .arrow::before {
    right: 0;
    border-left-color: rgb(255, 255, 255);
}

.bs-popover-auto[x-placement^=left] .arrow, .bs-popover-left .arrow {
    right: calc((.5rem + 0px) * -1);
    width: .5rem;
    height: 1rem;
    margin: .3rem 0;
}

    .bs-popover-auto[x-placement^=right] .arrow::after, .bs-popover-right .arrow::after {
    left: 2px;
    border-right-color: #212121;
}

.bs-popover-auto[x-placement^=right] .arrow::before, .bs-popover-right .arrow::before {
    left: 0px;
    border-right-color: rgb(255, 255, 255);
}
.bs-popover-auto[x-placement^=right] .arrow, .bs-popover-right .arrow {
    left: calc((.5rem + 0px) * -1);
    width: .5rem;
    height: 1rem;
    margin: .3rem 0;
}

